body{
    margin:auto;
    background-image: url('./Images/6310507.jpg');
    background-size: cover;
    color:black;
    font-size:medium;
    font-size: large;
    padding: 15px;
  

}
h2{
    text-shadow:3px 3px rgb(196, 239, 252);
}

  
 a:link,a:visited{
  background-color: rgb(29, 141, 206);
  color: white;
  padding: 14px 25px;
  display: inline-block;
  border-radius: 30px;
  text-decoration: none;
}

ul{
  list-style-type:square;
}

.content{
  display: none;
}

.dropdown:hover + .content{
  display:block;
  color:black;


}
